# Libraries

In [1]:
from Functions import *
import pandas as pd
import numpy as np

# Portfloio Allocation

In [12]:
data = pd.read_csv('portfolio.csv')
data['cik'] = data['symbol'].apply(lambda x : get_cik_from_symbol(x))
data

   symbol    shares         cik
0    REGN   0.67114   000872589
1    CART  11.77719  0001579091
2    NVDA   3.51458  0001045810
3     PLD   4.31146  0001045609
4    BOOT   2.22634  0001610250
5    FSLR   1.57911  0001274494
6    AMAT   1.47085     0006951
7    ASML   0.30251   000937966
8    ABBV   1.20770  0001551152
9    MELI   0.10340  0001099590
10   HIMS   5.55556  0001773751
11   PYPL   1.23000  0001633917
12    NUE   0.71178    00073309
13    EME   0.19725   000105634